#Navbar{
    height: 300px;
    width: 100%;
    border: 1px solid red;
}
#Navbar div:nth-child(1){
height: 40px;
width: 100%;
background-color: aqua;
}
.A>p{
text-align: center;
margin: auto;
}
#Navbar div:nth-child(2){
    height: 40px;
    width: 100%;
    background-color: rgb(11, 14, 14);
    }
 