* {
    box-sizing: border-box;
  
}
.Menu>div div{
    box-sizing: border-box;


    
}


#Navbar{
    height: 270px;
    width: 100%;
   
}
.A{
height: 30px;
width: 100%;
background-color:#FFD166;
margin-top: -8px;
/* padding: -10; */
}
.A>p{
text-align: center;
margin: auto;
padding-top: 10px;

}
.B{
    width: 65%;
    display: flex;
    /* background-color:#66ffa1; */
    margin: auto;
}

.B div:nth-child(1){
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}
.B div:nth-child(2){
    width: 40%;
}
.B div:nth-child(3){
    width: 40%;
    display: flex;
    justify-content: space-around;
    /* margin: auto; */
}
.C {
    width: 70%;
    margin: auto;
    justify-content: space-around;
    display: flex;
    /* background-color:#66bdff; */
}
.C div{
    justify-content: space-around;
}
.C div:nth-child(1){
    width: 50%;
    justify-content: space-evenly;

}
.C div:nth-child(2){
    width: 50%;
    justify-content: space-around
   

}
/* .logo{
    width: 10%;
} */
.C img{
    width: 10%;
    margin-left:20px ;
}

.C input{
    background: #FFFFFF;
    border: 1px solid #CCC;
    box-shadow: none;
    height: 40px;
    border-radius: 3px;
    width: 40%;
    font-size: 15.7px;
    margin-left: 60px;
    margin-top: 10px;
}
.Menu {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: auto;

}
/* DealZone */





.menuitems1{
    position: relative;
    display: inline-block;
    
}
.DealZone{
    width: 200px;
    /* background-color:red; */
    position: absolute;
    left: 0px;
    top:  142% ;
    display: none;
    
}
.DealZoneitems{
    padding: 7px;
    background-color:#fff;;
    /* border: 2px solid; */
}
.menuitems1:hover .DealZone{
    display: block;
   cursor:auto
}


/* Sofazone */

.SOfaZone div{
    padding: 7px;
}
.Recliners div{
    padding: 7px;
}
.SofaBed div{
    padding: 7px;
}
.Seating div{
    padding: 7px;
}
.menuitems2 a{
    text-decoration: none;
    color: black;
}
.menuitems2:hover .SOfaZone{
    display: block;
   
}
.menuitems2:hover .Recliners{
    display: block;
    
}
.menuitems2:hover .SofaBed{
    display: block;
    
}
.menuitems2:hover .Seating{
    display: block;
    
}
.menuitems2{
    position: relative;
}

/* .menuitems2 .SOfaZone{
   display: flex;
} */
.SOfaZone{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 0px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.Recliners{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 200px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.SofaBed{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 400px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.Seating{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 600px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}



/* 3.TableZOne */

.chairs div{
    padding: 7px;
}
.Tables div{
    padding: 7px;
}
.LivingStorage div{
    padding: 7px;
}

.menuitems3:hover .chairs{
    display: block;
}
.menuitems3:hover .Tables{
    display: block;
}
.menuitems3:hover .LivingStorage{
    display: block;
}

.menuitems3{
    position: relative;
    
}

.menuitems3 a{
    text-decoration: none;
    color: black;
}

/* .menuitems2 .SOfaZone{
   display: flex;
} */
.chairs{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 0px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.Tables{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 200px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.LivingStorage{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 400px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}







/* 4.Recliner Zone */





.Beds div{
    padding: 7px;
}
.Mattresses div{
    padding: 7px;
}
.StorageAccessories div{
    padding: 7px;
}
.KidsRoom div{
    padding: 7px;
}
.menuitems4:hover .Beds{
    display: block;
}
.menuitems4:hover .Mattresses{
    display: block;
}
.menuitems4:hover .StorageAccessories{
    display: block;
}
.menuitems4:hover .KidsRoom{
    display: block;
}

.menuitems4 a{
    text-decoration: none;
    color: black;
}
.menuitems4{
    position: relative;
    
}


.Beds{
    width: 200px;
    background-color :#fff;
    position: absolute;
    left: 0px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.Mattresses{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 200px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.StorageAccessories{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 400px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.KidsRoom{
    width: 200px;
    background-color: #fff;
    position: absolute;
    left: 600px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

/* 5.Dining */
.DiningTables div{
    padding: 7px;
}
.StorageBarFurniture div{
    padding: 7px;
}




.menuitems5:hover .DiningTables {
    display: block;
   
}
.menuitems5:hover .StorageBarFurniture {
    display: block;
    
}

.menuitems5 a{
    text-decoration: none;
    color: black;
}
.menuitems5{
    position: relative;
   
    
}




.DiningTables{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 0px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.StorageBarFurniture{
    width: 200px;
    background-color: #fff;
    position: absolute;
    left: 200px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
    
}

/* 6 STORAGE */




.livingstorage div{
    padding: 7px;
}
.bedroomstorage div{
    padding: 7px;
}
.diningstorage div{
    padding: 7px;
}
.Kidsstorage div{
    padding: 7px;
}
.menuitems6:hover .livingstorage{
    display: block;
}
.menuitems6:hover .bedroomstorage{
    display: block;
}
.menuitems6:hover .diningstorage{
    display: block;
}
.menuitems6:hover .Kidsstorage{
    display: block;
}

.menuitems6 a{
    text-decoration: none;
    color: black;
}
.menuitems6{
    position: relative;
    
}


.livingstorage{
    width: 200px;
    background-color :#fff;
    position: absolute;
    left: -200px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.bedroomstorage{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 0px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.diningstorage{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 200px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.Kidsstorage{
    width: 200px;
    background-color: #fff;
    position: absolute;
    left: 400px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

/* 7.STUDY */


.studytable div{
    padding: 7px;
}
.studychair div{
    padding: 7px;
}
.studystorage div{
    padding: 7px;
}

.studydecor div{
    padding: 7px;
}
.menuitems7:hover .studytable{
    display: block;
}
.menuitems7:hover .studychair{
    display: block;
}
.menuitems7:hover .studystorage{
    display: block;
}
.menuitems7:hover .studydecor{
    display: block;
}

.menuitems7 a{
    text-decoration: none;
    color: black;
}
.menuitems7{
    position: relative;
    
}


.studytable{
    width: 200px;
    background-color :#fff;
    position: absolute;
    left: -400px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.studychair{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: -200px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.studystorage{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 0px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.studydecor{
    width: 200px;
    background-color: #fff;
    position: absolute;
    left: 200px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}


/* 8.lightnings */

.lightnings div{
    padding: 7px;
}
.rugs div{
    padding: 7px;
}
.Linen div{
    padding: 7px;
}

.walldecor div{
    padding: 7px;
}
.homedecor div{
    padding: 7px;
}

.tableware div{
    padding: 7px;
}
.menuitems8:hover .lightnings{
    display: block;
}
.menuitems8:hover .rugs{
    display: block;
}
.menuitems8:hover .Linen{
    display: block;
}
.menuitems8:hover .walldecor{
    display: block;
}
.menuitems8:hover .homedecor{
    display: block;
}
.menuitems8:hover .tableware{
    display: block;
}

.menuitems8 a{
    text-decoration: none;
    color: black;
}
.menuitems8{
    position: relative;
    
}


.lightnings{
    width: 200px;
    background-color :#fff;
    position: absolute;
    left: -800px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.rugs{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: -600px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.Linen{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: -400px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.walldecor{
    width: 200px;
    background-color: #fff;
    position: absolute;
    left: -200px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}
.homedecor{
    width: 200px;
    background-color:#fff;
    position: absolute;
    left: 0px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}

.tableware{
    width: 200px;
    background-color: #fff;
    position: absolute;
    left: 200px;
    top:  142% ;
    display: none;
    padding-left: 20px;
    
}