h1{
    font-weight: 800;
    margin: 4%;       
  }    
  
  #comp2,#comp3,#comp4,#comp5{
    display: flex;
    /* align-items: center; */
  }
  #chCircles{       
    padding: 2%;
    margin: 2% 2%;
    border: 1px solid #ED7745;
    width: 5%;
    height: 5%;
    border-radius: 50%;
  }    
  #comp4Review{
    /* border: 2px solid teal; */
    width: 80%;
  }
  #chComp3AreaFinal{
    display: none;
  }
  #chComp3AreaFinal>table{
    /* border: 1px solid teal; */
    margin:30px 0px;
    width: 150%;
    text-align: left;
  }
  #chComp3AreaFinal>table td{
    padding: 10px 0px;        
  }
  #cartSection{           
    /* background-color: teal;      */
    padding-top: 10px;
    justify-content: space-evenly;
  }
  #caComp1a{
    display: flex;   
    justify-content: space-evenly;     
    margin-top: 20px;   
  }      
  #caComp1a>h4:nth-child(1){                
    width: 40%;
    margin-right: 8%;
    text-align: center;

  }
  #caComp1a>h4:nth-child(2){
    
    width: 15%;   
    text-align: center;
  }
  #caComp1a>h4:nth-child(3){
    
    width: 15%;
    text-align: center;
  }
  #caComp1a>h4:nth-child(4){
    
    text-align: center;
    
  }      
  .caCardTop{
    display: flex;        
    height: 55%;        
  }
  .caCardTop>div{
    width: 15%;
    /* border: 2px solid black;         */
  }
  .caCardTop>div:nth-child(1){ 
    /* border: 1px solid teal; */
    width: 45%;   
    margin-right: 15%;           
  }      
  .caCardTop>div:nth-child(2){    
    padding-top: 10%;           
  }
  .caCardTop>div:nth-child(3){ 
    padding-top: 10%;      
    
  }
  .caCardTop img{
    width: 55%;
    height: 55%;        
  }
  .caCardb2>h5,.caCardb2>h4{
    margin: 10% 0%;
  }
  .caCardb{
    display: flex;
    /* border: 1px solid teal; */
    align-items: center;
  }
  .caCardb span{        
    text-decoration-line: line-through;
  }
  #caCardbOff{        
    text-decoration-line: none;
    margin-left: 5px;
    font-weight: 600;
    color: red;
  }      

  .caCardc2{                      
    border:1px solid #ED7745;
    padding-left:5%;
    padding-top:3%;
    width:17%;
    height:17%;          
  }
  .caCarde{
    font-weight: 600;
    margin-top: 10%;
  }
  #cartSection button{
    background-color: #ED7745;
    color: white;
    width: 30%;
    height: 50px;
    border: none;
    margin: 20px 0px;
  }      
  #comp4ReviewKid{
    /* background-color: teal; */
    display: none;
  }
  #comp5PayPage{        
    width: 100%;        
    /* height: 700px; */
  }
  #comp5PayTextArea{
    display: flex;
    width: 80%;      
    height: 75%;  
    margin: auto;
    /* border: 1px solid teal; */
    
  }      
  
  #comp5PayTextArea>div:nth-child(1){
    /* background-color: red; */
    padding-top: 70px;
    border-right: 1px solid #ED7745;
  }
  #comp5PayTextArea>div:nth-child(1) button{        
    height:60px;        
    border-bottom: 1px solid #ECECEC;
  }
  #comp5PayTextArea>div:nth-child(1) h4{
    margin: 5px 0px;
  }
  #comp5PayTextArea button{
    display: flex;
    width: 100%;   
    align-items: center;        
    text-align: left; 
    border: none;
    background-color: white;        
  }
  #comp5PayTextArea button:hover{
    background-color: #ECECEC;        
    /* background-color: red; */
  }
  #comp5PayTextArea button div{        
    margin-right: 20px;
    margin-left: 10px;
  }      
  #comp5PayTextArea>div{
    /* border: 1px solid black; */
    width: 50%;
  }
  #comp5PayTextArea>div:nth-child(2)>div:nth-child(1){
    height: 20%;
  }
  #comp5PayTextArea>div:nth-child(2)>div:nth-child(2){
    height: 80%;
  }
  
  #comp5PayTextAreaFormUp{        
    padding: 20px;             
    padding-bottom: 150px; 
  }      
  
  #comp5PayTextAreaForm>input{
    width: 90%;
    height: 40px;        
    margin: 10px 0px;
  }
  #comp5PayTextAreaForm>input:nth-last-child(1){
    background-color: orange;
    border: none;
    color: white;
    font-weight: 600;
  }
  #comp5PayTextAreaFormSib{
    padding: 10px;        
    width: 40%;
  }
  #comp5PayTextAreaFormSib span{
    display: block;        
    font-size: 20px;
    margin-top: 10px;        

  }
  #chComp3Form input,#chComp3Form select,#chComp3Form button{
    width: 45%;
    height: 40px;
    border: none;
    background-color: #F6F6F6;                
  }
  #chComp3Form button{
    height: 50px;
    background-color: #ED7745;
    color: white;
    width: 40%;
    margin: 40px 10px 30px 0px;
  }
  #chComp3Form label{
    display: inline-block;
    color: grey;
    font-weight: 600;
    margin: 10px 0px;
  }
  #checkOutSection>div>div>h2{        
    margin-top: 45px;     
    margin-bottom:15px;             
  }
  #comp1>h3{
    font-size: 16px;        
    margin: 22px;
  }
  #caComp2c>h2{
    margin: 10px 0px;
  }
  #caComp2c>table td{
    padding: 10px 0px;
  }
  #caComp2c>table{
    width: 60%;
  }