#title{
    width: 65%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content:space-between;
}

hr{
    width: 65%;
}

#mainSection{
    
    display: flex;
    width: 65%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
#image img{
    width: 90%;
    /* border: 1px solid red; */
}
#details{
    /* border: 1px solid red; */
    width: 35%;
    text-align: center;
}

#color{
    display: flex;
    margin: auto;
    justify-content:space-around;
    /* gap: 20px 20px; */
}

#color1, #color2, #color3{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#color1 img{
    /* background-color: ; */
    width: 100%;
    border-radius: 50%;
}
#color2 img{
    /* background-color: ; */
    width: 100%;
    border-radius: 50%;
}
#color3 img{
    /* background-color: ; */
    width: 100%;
    border-radius: 50%;
}

#price{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ED7745;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
}

#desc p{
    text-align: center;
    width: 65%;
    margin: auto;
}